@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  font-size: 15pt;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  background-color: lightblue
}
p {
  text-align: center;
}
#image1 {
  display: flex;
  width: 250px;
  /*height: 200px*/
  margin-left: 30vw;
	margin-top: 3vh;
  /*justify-content: center;*/
  /*align-items: center;*/
  /*border-radius: 50%;*/
}
body nav ul {
  list-style: none;
}
body nav ul li {
  display: inline-block;
  margin-right: 15px;
}
body nav ul li a {
  text-decoration: none;
}

.footer {
  text-align: center;
  padding: 5px 6px;
  color: #1fffff;
  padding: 30px 30px;
  bottom:0;
}


.aside { 
  width:200px;
  
} 
.fright {
  float:right;
}
a {
  text-decoration: none;
}
