@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html,
body,
#__next {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: url('/rikkaback.jpg') center center / cover no-repeat fixed;
  background-color: #00d1ff;
}