.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 2rem;
}

.titulo {
  color: #ffffff;
  margin-bottom: 30px;
}

.imagem {
  border-radius: 100px;
  margin-bottom: 20px;
}

.meio {
  color: #0077ff;
  margin-bottom: 30px;
}

.meio button {
  background-color: #0077ff;
}

.meio2 {
  color: #919191;
}

.topgg {
  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.topgg img {
  width: 320px;
  max-width: 100%;
  border-radius: 10px;
}

.degrade {
  background-image: linear-gradient(
    to bottom,
    rgb(253, 2, 2),
    rgb(6, 135, 241),
    rgb(250, 0, 208)
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: black;
  -webkit-text-stroke-width: 1px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: .5rem;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .titulo {
    font-size: 1.7rem;
  }

  .topgg img {
    width: 100%;
  }
}