.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:.9rem 1.5rem;

    background:#00d1ff;
    color:white;
}

.logo{
    display:flex;
    align-items:center;
    gap:.6rem;
}

.desktop{
    display:flex;
    align-items:center;
    gap:2rem;
}

.link_items{
    display:flex;
    gap:1.5rem;

    list-style:none;
    margin:0;
    padding:0;
}

.link_items a{
    color:white;
    text-decoration:none;
    font-weight:600;

    display:flex;
    align-items:center;
    gap:.25rem;
}

.mobileButton{
    display:none !important;
    color:white !important;
}

@media (max-width:768px){

    .desktop{
        display:none;
    }

    .mobileButton{
        display:flex !important;
    }

}